on:
  release: 
    types: [published]
  workflow_dispatch: 

name: Publish Workflow
run-name: "Publish #${{ github.run_number }}"

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      # setup env
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      
      # prepare package
      - name: Install
        run: bun install
      - name: Build
        run: bun run build

      # publish
      - name: Publish
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}