on:
  push:
    branches:
      - main

name: Release-Please Workflow
run-name: "release-please #${{ github.run_number }}"

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    name: Release-Please Job
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        with:
          release-type: node
          package-name: '@npmdm/core'
